{% extends "blocks.html" %}

{% block main %}
            <!--Start Form-->
            <form action="/waldo" method="POST" role="form">
                <!-----------HEADER WRITING-------->
                <center>
                    <h2>Waldo!</h2>
                    <h7>Any questions about our good old friend Waldo?</h7>
                </center>
                
                
                <!---------------BEGIN INPUT GROUP--------------------->
                    <div class="input-group input-group-hg input-group-rounded forminputs">
                        <input name="query" id="wordinput" type="text" placeholder="Enter a word.." class="form-control" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn">
                                <!------------take out the anchor tag once connected to python------->
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                <!-------------------------but keep the span--------------------------------->
                            </button>
                        </span>
                    </div>
                <!---------------END INPUT GROUP--------------------->
                
            </form>
            <!---End Form--->
{% endblock main %}
</html>


