{% extends "blocks.html" %}

{% block main %}
<title> Waldo Search: Results </title>

<body id="body2">
    <div class="answerholder">
        <h1> WALDO'S RESULTS </h1>
            <hr>
                <h2><b>Q: {{ query }}</b></h2>
                <br>
                        <b> Results: </b>
                <br>
	       <ul> 
	           {% for r in results %}
	               <li> {{ r }} </li>
	           {% endfor %}
	       </ul>

        <br>
            </div>                 
</body>

{% endblock main %}
